@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
   --default-color: #9ED5CB;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: "Quicksand", sans-serif;
   width: 45rem;
   margin: 0 auto;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   padding-right: 1.3rem;
   border-bottom: 1px solid rgb(190, 190, 190);
}

.header-logo {
   height: 120px;
   flex: 1;
}

.header-logo img { height: 100% }

.header-list {
   display: flex;
   flex: 1;
   justify-content: space-between;

   list-style: none;
}

.header-list li a {
   color: #333;
   font-size: 15px;
   font-weight: 600;
   text-decoration: none;
}

.header-list li:nth-of-type(4) a {
   color: rgb(250, 250, 250);
   background-color: var(--default-color);
   padding: 10px 12px;
   border-radius: 5px;
}

.posts-list { margin-top: 5rem; }

.posts-list h2 { 
   color: #006b57;
   font-size: 2rem;
   margin-bottom: 2.5rem;
}

.post {
   margin-bottom: 10px;
   padding: 1.5rem 2rem;
   cursor: pointer;
}

.post:hover { box-shadow: 1px 1px 4px rgba(0, 0, 0, .2); }

.post h3 {
   color: #43a593;
   font-size: 1.3rem;
   margin-bottom: 5px;
}